/* Font */

@font-face {
    font-family: 'Caesar';
    src: url('../../Police/Caesar/CAESAR.TTF');
}

@font-face {
    font-family: 'Golden Arrow';
    src: url('../../Police/golden_arrow/Golden_Arrow.ttf');
}

@font-face {
    font-family: 'GreekHouseSymbolized';
    src: url('../../Police/greekhousesymbolized/GreekHouse\ Symbolized_Free.ttf');
}

/* Global */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: white;
    border: none;
    font-family: 'Caesar',sans-serif;
}
body {
    background-image: url(pictures/wp2763366-mythology-wallpapers.jpg);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Navbar */

header{
    width: 100%;
    background-color: #061531;
    padding: 10px;
    position: sticky;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.block-left{
    width: 50%;
    display: flex;
    align-items: center;
    align-items: center;
}

.block-right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 35px;
}

/* Burger */

.burger{
    display: none;
    width: 42px;
    height: 24px;
    position: relative;
    cursor: pointer;
    z-index: 20;
}

.burger span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: white;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    transition: background-color  0.5s ease-in-out;
}

.burger span::before,.burger span::after{
    content: '';
    width: 100%;
    height: 4px;
    background-color: white;
    position: absolute;
    transition: transform 0.5s ease-in-out;
}

.burger span::before{
    transform: translateY(-10px);
}

.burger span::after{
    transform: translateY(10px);
}

.burger.active span {
    background-color: transparent;

}

.burger.active span::before{
    transform: translateY(0px) rotateZ(45deg);
}

.burger.active span::after{
    transform: translateY(0px) rotateZ(-45deg);
}

/* logo */

.logo{
    width: 20%;
    
}

.logo a{
    width: 100%;
}

.logo a img{
    width: 100%;
}


/* categories */

.categories{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

ul.listing-categories{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

ul.listing-categories li a {
    margin: 0 10px;
    display: flex;

}

/* searchbar */

form{

}

form input{
    border: none;
}

form button{

}

.searchbar{
    width: 40%;
    display: inline-flex;
}

.searchbar input{
    width: 85%;
    height: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: black;
    padding-left: 10px;
}

.searchbar input::placeholder{
}

.searchbar button{
    width: 15%;
    height: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.searchbar button i{
    color: black;
}


/* lang */

.lang{
    width: 50px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lang img{
    width: 100%;
    border-radius: 50px;
}

/* Account */

.account{
    width: calc(100%/6);
    
}

.account a{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account a img{
    width: 40px;
    margin-right: 10px;
}

.account a h3{

}

/* Settings */

.settings{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.settings a{
    width: 100%;
}

.settings a img{
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5px;
}

.bar-responsive{
    display: none;
}


.back-bar-responsive{
    display: none;
}

/* Body Settings Details */
/* Code couleur :
#0197CF
#293347
#16202D
*/

.setting-details-title {
    display: flex;
    padding-top: 1.3%;
    padding-bottom: 1.3%;
    width: 40%;
    text-align: center;
    background-color: #0197CF;

}

.settings-details-choice-all {
  
}

.title-settings {
    font-size: 50px;
}

.settings-details-choice {
    display: flex;
    flex-direction: column;
    position: static;
    height: 85vh;
    width: 22%;
    background-color: #293347;
    opacity: 0.9;
    font-size: 20px;
    padding-top: 3vh;
    line-height: 50px;
    
}

.choice1 {
    padding-left: 0.5vh;
}

.choice2 {
    padding-left: 0.5vh;
}

.choice3 {
    background-color: grey;
    opacity: 0.9;
    border-left: 5px solid #0197CF;
    
}


.settings-details-all-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
}

.setting-details-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

.settings-details-information-under {
    display: flex;
}

.settings-details-information {
    padding: 7vh 7vh 7vh 7vh;
    background-color: #16202D;
    width: 78%;
}

.settings-details-information2 {
    display: flex;
    align-items: center;
    
}

.settings-details-choice-all {
    display: flex;
    width: 90%;
}

.settings-details-information-img {
    width: 40%;
    position: relative;
}

.settings-details-information-img img {
    width: 50%;
}

.settings-details-information-name {
    width: 60%;
    position: relative;
    left: 15%;
}

.settings-details-information-name p {
    font-size: 30px;
}

.settings-details-information-under-informations {
    display: flex;
    justify-content: center;
    position: relative;
    top: 20%;
    height: 30vh;
    background-color: #293347;

}

.settings-details-informations-background {
    position: relative;
    height: 70vh;
    background-color: #293347;
    text-align: center;
  }

.title-information {
    font-size: 20px;
    padding-top: 3vh;
}

.settings-details-change-password {
    padding-top: 3vh;
}

.title-password {
    font-size: 20px;
    padding-top: 3vh;
}

.settings-details-change-password-text {
    padding-top: 3vh;
    text-align: left;
    padding-left: 4vh;
    width: 90%;
    font-size: 18px;
}

.settings-details-change-password-form-part2-text {
    padding-top: 3vh;
    font-size: 17px;
    display: flex;
    justify-content: center;
}

.settings-details-change-password-form-part2-text p {
    width: 50%;
}

.settings-details-change-password-form-part2-text2 {
    padding-top: 2vh;
    font-size: 17px;
    display: flex;
    justify-content: center;
}

.settings-details-change-password-form-part2-text2 p {
    width: 50%;
}

.settings-details-change-password-form-part2-text3 {
    padding-top: 2vh;
    font-size: 17px;
    display: flex;
    justify-content: center;
    
}

.settings-details-change-password-form-part2-text3 p {
    width: 50%;
}

.settings-details-change-password-form-part1 {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 4vh;
}

.settings-details-change-password-form-part2 {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 10%;
    border-left: 1px gray solid;
}

form {
    padding-top: 3vh;
    display: flex;
    justify-content: center;
}

.settings-details-change-password-form {
    display: flex;
    justify-content: center;
}

.title-required {
    text-align: left;
    font-size: 10px;
}

.input-newpassword {
    text-align: left;
}

.title-password2 {
    font-size: 20px;
}

.settings-details-password-title1 {
    padding-top: 3vh;
    text-align: left;
    font-size: 20px;
}

.title-required2 {
    font-size: 10px;
    text-align: left;
}

.input-newpassword {
    padding-top: 3vh;
    text-align: left;
}

.input-newpassword input[type=text] {
    color: black;
    height: 3.5vh;
    width: 26vh;
    font-size: 22px;
}

.settings-details-change-password-form-part2-title {
    padding-top: 3vh;
}

.settings-details-change-password-form-part2-input-change {
    padding-top: 6vh;
}

.settings-details-change-password-form-part2-input-change input[type=submit] {
    padding: 2vh 5vh 2vh 5vh;
    font-size: 20px;
    background-color: #0197CF;
}


























































/* Responsive */


@media screen and (max-width:1335px) {
    .block-left, .block-right{
        display: none;
    }
    .bar-responsive{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .bar-responsive .burger{
        display: block;
    }
    .open .header-navbar {
        transform: translateX(0);
    }
    .bar-responsive .logo{
        width: 100px;
    }
    .bar-responsive .logo a img{
        width: 100%;
    }

    .bar-responsive .account{
        width: 40px;
    }

    .bar-responsive .account a img{
        width: 100%;
        margin: 0;
    }


    .back-bar-responsive{
        align-items: center;
        position: fixed;
        flex-direction: column;
        background-color: #061531;
        width: 100%;
        left: -100%;
        min-height: 100vh;

        transform: translateX(-100%);
        transition: transform 1s;
        z-index: 20;
    }

    .open .back-bar-responsive{
        display: flex;
        transition: transform 1s;
        transform: translateX(100%);
    }

    .search{
        width: 70%;
        margin-top: 30px;
    }

    .search .searchbar{
        width: 100%;
    }

    .back-bar-responsive .categories{
        margin-top: 30px;
    }

    .open .back-bar-responsive .categories .listing-categories{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .back-bar-responsive .categories .listing-categories li{
        margin-top: 30px;
    }
}



/*--------------------------------------------------*/